<!doctype html>
<html lang = "pt-br">
<Head>
    <meta charset="UTF-8">
    <title>Application Django - Contato</title>
</Head>
<body>
    <h2>Produto</h2>

    <table>
        <thead>
            <tr>
                <th>Produto</th>
                <th>Preço</th>
                <th>Estoque</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{produto.nome}}</td>
                <td>{{produto.preco}}</td>
                <td>{{produto.estoque}}</td>
            </tr>
        </tbody>
    </table>
    <a href="{% url 'index'%}">
        <button>Voltar</button>
    </a>

</body>
</html>